// Place all the styles related to the player controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my-info {border-collapse: collapse;}
.top-border { border-top: 1px solid black; }

a {
  color: blue;
}

.no-show-link {
  text-decoration: none;
  color: black;
}

.underline {
  text-decoration: underline;
}
